{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/Signin.css' %}">
    <title>Estate Vision - Sign In</title>
  
</head>
<body>
   
    <div class="login-container">
        <h1>Estate Vision</h1>
        <div class="login-form">
            
            <h3>Sign in to your account</h3>
            <form>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="jane.doe@gmail.com">

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="••••••••••">
                <a href="#" class="forgot-password">Forgot your password?</a>

                <div class="checkbox-container">
                    <input type="checkbox" id="stay-signed-in">
                    <label for="stay-signed-in">Stay signed in for a week</label>
                </div>

                <button type="submit" class="continue-button">Continue</button>
                <button type="button" class="sso-button">Use single sign-on (SSO) instead</button>
            </form>

        </div>
    </div>
    <div class="footer">
    <div class="sign-up">
         Don’t have an account? <a href="#">Sign up</a>
    </div>
    <div class="footer-links">
        <span>© Estate Vision - </span>
        <a >Contact</a> - <a >Privacy & terms</a>
    </div>
</div>
</body>
</html>
